<nav>
    <div class="container">
        <div class="content">
            <h2 class="logo">Store 
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfNPDS1r_y4JFsW-F22rs_Ml_gD2vztneowg&usqp=CAU" alt="">
            </h2> 
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <ul>
                    <li routerLink="/" routerLinkActive="router-link-active" >Home</li>
                    <li routerLink="/product-list">Products</li>
                    <li routerLink="/login">Login</li>

                    
                </ul>
        </div>
    </div>
</nav> 