.item{
    width: 100%;
    text-decoration: none;
    left: 15%;
    align-items: center;
    color: #333;
    margin: 15px;
    display: inline-block;
    border-radius: 10px;
    width: 70%;
    height: 70%;
    background-color: rgba(211, 212, 216, 0.521);
   
}

p{
    margin: 15px 0;
    overflow: hidden;
    font-size: 16px;
    padding: 5px 15px;
}
h4{
    overflow: hidden;
    padding: 5px 15px;
    font-size: 18px;
    background-color: #eee;
    font-weight: 600;
    margin-top: 10px;
}


span{
    background-color: #f1b4b4;
    padding: 3px 7px;
    margin-left: 5px;
    border-radius: 30px;
}
