<div class="item card">
   
    <div >
      <div class="body">
          <h4>Title: {{data.title}} </h4>
          <p>{{data.description}}</p>
          <p>Category: {{data.category}}</p> 
          <p>Brand: {{data.brand}}</p>
          <p>Rate: {{data.rating}}</p>
          <p>Stock: {{data.stock}}</p>
          <p>Discount: {{data.discountPercentage}} L.E</p>


          

      </div>
    </div>
  
      <div class="px-3 mb-2
       d-flex justify-content-between
        align-items-center">
        <button class="btn btn-success"  
         >Edit</button>
         <div class="px-3 mb-2
       d-flex justify-content-between
        align-items-center">
        <button class="btn btn-danger"  
         >Delete</button>
        
        
        <span>{{data.price}} L.E</span>
      </div>
  </div>

</div>